*{
    font-family:'Courier New', Courier, monospace;
    margin: 0%;
    padding:0px;
    box-sizing: content-box;
     
}
header{
    background-color:rgb(239, 227, 211);
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    

}

.title{
    color: rgb(11, 11, 156);
    text-decoration-line:none;
    font-size: larger;
    font-weight: 200px;
       
}
.nav {
    color:rgb(208, 149, 72) ;
    text-decoration: none;
    font-size: 50px;
   
    background-color: rgb(219, 165, 197);
margin-right: 70px;}
           

.navbar a:hover{
    color: rgb(175, 115, 36);
   padding: 30PX 50PX; 
}

.abt {
    padding: 200px 200px;
    display: flex;
    justify-content: center;
}
.main h1 {
    color: rgb(189, 130, 181);
    margin-bottom: 12px;
    font-size: 2.2em;
    text-align: center;
}

.box:hover{
    transform: scale(1.1);
}
.box{
    background-color: white;
    width: 500px;
    box-shadow: 0 10px 25px rgba(1, 1, 1, 15%);
    padding: 20px;
    margin: 10px;
    transition: 0.7s ease;
    border-radius: 20px;
}
.imge{
    border-radius: 50%;
}

